  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="carousel-caption wow fadeIn" data-wow-delay="0.6s">
        <h3 class="h3-responsive">Chcesz szybko <span class="color-green">sprzedać</span><br> swój samochód?
        </h3>
        <div class="container-flexbox">
          <a class="color-green" href="tel:785-22-22-44">785-22-22-44</a>
          <a class="color-green" href="tel:785-22-22-44">
            <p>Zadzwoń!</p>
          </a>
          <a class="color-green" href="tel:785-22-22-44"><img class="image-phone" src="../../../assets/phone.png"
              alt=""></a>
        </div>
      </div>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/background-1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light"></div>
      </div>

    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/background-2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light"></div>
      </div>
      <div class="carousel-caption wow fadeIn" data-wow-delay="0.6s">
        <h3 class="h3-responsive">Chcesz szybko <span class="color-green">sprzedać</span><br> swój samochód?</h3>
        <div class="container-flexbox">
          <a class="color-green" href="tel:785-22-22-44">785-22-22-44</a>
          <a class="color-green" href="tel:785-22-22-44">
            <p>Zadzwoń!</p>
          </a>
          <a class="color-green" href="tel:785-22-22-44"><img class="image-phone" src="../../../assets/phone.png"
              alt=""></a>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/background-3.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light"></div>
      </div>
      <div class="carousel-caption wow fadeIn" data-wow-delay="0.6s">
        <h3 class="h3-responsive">Chcesz szybko <span class="color-green">sprzedać</span><br> swój samochód?</h3>
        <div class="container-flexbox">
          <a class="color-green" href="tel:785-22-22-44">785-22-22-44</a>
          <a class="color-green" href="tel:785-22-22-44">
            <p>Zadzwoń!</p>
          </a>
          <a class="color-green" href="tel:785-22-22-44"><img class="image-phone" src="../../../assets/phone.png"
              alt=""></a>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
