<app-top-bar></app-top-bar>
<section class="offert">
  <div class="offert__container">
    <h2 class="offert__title wow fadeIn" data-wow-delay="1s">JAKIE MARKI <span class="color-green">AUT</span>
      SKUPUJEMY?</h2>
    <p class="offert__text wow fadeIn" data-wow-delay="1.3s">Interesuje nas każde auto, osobowe czy dostawcze.<br>
      Skupujemy samochody nie starsze niż 2000 rok, mogą być do drobnych remontów.<br>
      - po nauce jazdy (L)<br>
      - angliki do przekładki i po przekładce<br>
      - auta do rejestracji<br>
      - auta typu VAN oraz ciężarowe<br>
      - przyczepy kampingowe<br>
      - Quady i skutery wodne<br>
      - i inne propozycje</p>
    <div class="offert__form wow fadeIn" data-wow-delay="1.6s">
      <h6 class="offert__text-form">Przejdź do formularza</h6>
      <button routerLink="/kontakt" type="button" mdbBtn class="offert__button-form" mdbWavesEffect><i
          class="fas fa-sign-in-alt"></i></button>
    </div>
  </div>
</section>
<app-footer></app-footer>
