<app-top-bar></app-top-bar>
<app-carousel></app-carousel>
<section class="home">
  <div class="home__color"></div>
  <div class="home__first-section">
    <div>
      <div class="home__container-title">
        <h2 data-wow-offset="200" class="home__title wow fadeInUp">Dlaczego my?</h2>
      </div>
      <ul class="home__container-text">
        <div class="home__container-flex wow fadeInUp">
          <li class="home__text-title">Płacimy najlepsze możliwe ceny na polskim rynku</li>
          <p class="home__text">
            Płacimy w formie dogodnej dla klienta (przelew, gotówką itd.)
          </p>
        </div>
        <div class="home__container-flex wow fadeInUp">
          <li class="home__text-title">Możliwość pozostawienia samochodu pod zastaw lub w rozliczeniu</li>
        </div>
        <div class="home__container-flex wow fadeInUp">
          <li class="home__text-title"> Zapewniamy miłą, komunikatywną obsługę</li>
        </div>
        <div class="home__container-flex wow fadeInUp">
          <li class="home__text-title">Pracujemy 24/7</li>
          <p class="home__text">
            Zapewniamy darmowy dojazd do klienta oraz wycenę pojazdu
          </p>
        </div>
      </ul>
    </div>
  </div>
  <div class="home__container-numbers">
    <div class="home__numbers">
      <p class="home__number wow flipInX" data-wow-offset="200">20</p>
      <p class="home__number-text wow fadeIn" data-wow-offset="200">LAT<br>DOŚWIADCZENIA</p>
    </div>
    <div class="home__numbers">
      <p class="home__number wow flipInX" data-wow-offset="200">95%</p>
      <p class="home__number-text wow fadeIn" data-wow-offset="200">ZADOWOLONYCH<br>KLIENTÓW</p>
    </div>
    <div class="home__numbers">
      <p class="home__number wow flipInX" data-wow-offset="200">24/7</p>
      <p class="home__number-text wow fadeIn" data-wow-offset="200">DOSTĘPNOŚĆ</p>
    </div>
  </div>
  <div class="home__container-content">
    <div class="home__wrapper">
      <h2 class="home__title wow zoomIn" data-wow-offset="200">ODKUPIMY<br><span
          class="color-green">KAŻDY</span><br>POJAZD</h2>
      <p class="home__content-text home__content-text--one wow fadeIn" data-wow-offset="200">Skupujemy samochody nie
        starsze niż 2000 rok, mogą być do
        drobnych remontów.</p>
      <p class="home__content-text wow fadeIn" data-wow-offset="200">Skupujemy samochody wszystkich marek.<br>
        - po nauce jazdy (L)<br>
        - angliki do przekładki i po przekładce<br>
        - auta do rejestracji<br>
        - auta typu VAN oraz ciężarowe<br>
        - przyczepy kampingowe<br>
        - Quady i skutery wodne<br>
        - i inne propozycje........</p>
      <p class="home__content-text wow fadeIn" data-wow-offset="200">Interesuje nas każde auto, osobowe czy dostawcze.
        Zapewnimy Ci atrakcyjne ceny, płatność gotówką i sprawną transakcję.
      </p>
      <p class="home__content-text home__content-text--two wow fadeIn" data-wow-offset="200"> <span
          class="color-green">Peli</span>Car tel. <a class="color-green" href="tel:785-22-22-44">785-22-22-44</a></p>
    </div>
  </div>
  <div class="home__container-last">
    <div class="home__wrapper">
      <h4 class="home__title wow pulse" data-wow-iteration="infinite">KUPIMY OD<br>
        CIEBIE <span class="color-green">AUTO</span>
      </h4>
      <div class="home__icons">
        <img src="../../../assets/icon-1.png" alt="" class="home__icon wow fadeInLeft" data-wow-offset="200">
        <img src="../../../assets/icon-2.png" alt="" class="home__icon wow fadeInDown" data-wow-offset="200">
        <img src="../../../assets/icon-3.png" alt="" class="home__icon wow fadeInDown" data-wow-offset="200">
        <img src="../../../assets/icon-4.png" alt="" class="home__icon wow fadeInRight" data-wow-offset="200">
        <img src="../../../assets/icon-5.png" alt="" class="home__icon wow fadeInLeft" data-wow-offset="200">
        <img src="../../../assets/icon-6.png" alt="" class="home__icon wow fadeInUp" data-wow-offset="200">
        <img src="../../../assets/icon-7.png" alt="" class="home__icon wow fadeInUp" data-wow-offset="200">
        <img src="../../../assets/icon-8.png" alt="" class="home__icon wow fadeInRight" data-wow-offset="200">
      </div>
      <div class="home__form wow fadeIn" data-wow-offset="200">
        <h5 class="home__text-form">Przejdź do formularza</h5>
        <button type="button" routerLink="/kontakt" mdbBtn class="home__button-form" mdbWavesEffect><i
            class="fas fa-sign-in-alt"></i></button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
