<app-top-bar></app-top-bar>
<section class="about-us">
  <div class="about-us__header">
    <div class="about-us__header-wrapper wow fadeInUp" data-wow-delay="0.5s">
      <a class="about-us__text" href="tel:785-22-22-44">785-22-22-44</a>
      <a class="about-us__text" href="tel:785-22-22-44">
        <p>Zadzwoń!</p>
      </a>
      <a href="tel:785-22-22-44"><img class="about-us__image-phone" src="../../../assets/phone.png" alt=""></a>
    </div>
    <div class="content-arrow" (click)="scroll(target)">
      <svg class="more-arrows">
        <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 " />
        <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 " />
        <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 " />
      </svg>
    </div>
  </div>
  <div #target class="about-us__color"></div>
  <div class="about-us__content">
    <h2 class="about-us__title wow fadeIn" data-wow-offset="200">Prawie 20 lat na rynku!</h2>
    <p class="about-us__text-content wow fadeIn" data-wow-offset="200">Skupujemy samochody wszystkich marek. Interesuje
      nas każde auto, osobowe czy
      dostawcze.
      Skupujemy samochody nie starsze niż 2000 rok, mogą być do drobnych remontów.</p>
    <div class="about-us__form wow fadeIn" data-wow-offset="200">
      <h3 class="about-us__text-form">Przejdź do formularza</h3>
      <button routerLink="/kontakt" type="button" mdbBtn class="about-us__button-form" mdbWavesEffect><i
          class="fas fa-sign-in-alt"></i></button>
    </div>
    <h2 class="about-us__title wow fadeIn" data-wow-offset="200">95 % zgłoszeń dochodzi do skutku !</h2>
  </div>
  <div class="about-us__color-rotate"></div>
</section>
<app-footer></app-footer>
