<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <h1 routerLink="/home" class="logo navbar-brand logo-text  wow fadeInUp"><span class="color-green">Peli</span>Car
    </h1>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li routerLink="/home" routerLinkActive="active" class="nav-item waves-light  wow fadeInUp" data-wow-delay="0.6s"
        mdbWavesEffect>
        <a class="nav-link ">Strona główna</a>
      </li>
      <li routerLink="/o-nas" routerLinkActive="active" class="nav-item waves-light  wow fadeInUp" data-wow-delay="0.7s"
        mdbWavesEffect>
        <a class="nav-link">O nas</a>
      </li>
      <li routerLink="/oferta" routerLinkActive="active" class="nav-item waves-light  wow fadeInUp"
        data-wow-delay="0.8s" mdbWavesEffect>
        <a class="nav-link">Oferta</a>
      </li>
      <li routerLink="/kontakt" routerLinkActive="active" class="nav-item waves-light  wow fadeInUp"
        data-wow-delay="0.9s" mdbWavesEffect>
        <a class="nav-link">Kontakt</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
